@using Presentation.Extensions
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="display: none;" class="dotContainer">
    <div class="dotWrapper">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="shadow"></div>
        <div class="shadow"></div>
        <div class="shadow"></div>
    </div>
</div>
<div class="row" style="background-color: gainsboro; height: 1000px">
</div> 
@section Styles {
    @Styles.Render("~/Content/loadingDots.css")
}

<script>
    function Fade() {
        $('.dotContainer').fadeIn("fast");
        $('#login').css("filter", "blur(4px)");
    }
</script>


@if (ViewBag.Message != null)   
   {
        <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
        </script>   
    }

